.carrousel-main {
    height: 100%; /* Asegura que el contenedor del carrusel ocupe todo el espacio disponible */
}

.movie-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
    padding: 10px; /* Ajusta el relleno para mejorar la apariencia en pantallas pequeñas */
}

.movie-title {
    font-size: 2rem; /* Tamaño de fuente por defecto */
}

.movie-overview {
    font-size: 1rem; /* Tamaño de fuente por defecto */
}

.movie-icon-btn {
    padding: 0.5rem; /* Ajuste de relleno para el botón del icono */
}

.movie-icon {
    font-size: 2rem; /* Tamaño del icono por defecto */
}

@media (max-width: 768px) {
    .movie-title {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .movie-icon {
        font-size: 1.5rem; /* Tamaño del icono más pequeño en pantallas pequeñas */
    }

    .movie-content {
        padding: 20px; /* Ajusta el relleno para mejorar la apariencia en pantallas pequeñas */
    }

    .movie-overview {
        display: none; /* Oculta la descripción en pantallas pequeñas */
    }

}